@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: auto;
}
a, p, h3 {
    font-family: 'Rubik', sans-serif;
}
ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
main {
    position: relative;
    max-width: 1200px;
    margin: auto;
}
.top-nav-container, .footer-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: black;
}
.nav-logo {
    font: 700 25px/25px 'Rubik', sans-serif;
    color: white;
    margin: auto 0px auto 0px;
    float: left;
}
.nav-links-div {
    float: right;
    margin: auto 0px auto 0px;
}
.nav-link {
    color: #90BBE6;
    padding-left: 20px;
    font: 300 15px/15px 'Rubik', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}
.header-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-img-div {
    position: relative;
    width: 50%;
}
.header-img-div img {
    width: 100%;
}
.header-info-div {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 25px;
    font-family: 'Rubik', sans-serif;
}
.header-info-div h1 {
    margin: auto 0px;
    font-size: 50px;
}
.head-subtext {
    font-weight: 500;
    letter-spacing: 3px;
}
.description {
    line-height: 25px;
}
.info-section {
    padding: 20px;
}
.black-border-div {
    border: 4px solid black;
    padding: 20px
}
.no-border {
    border: none;
    text-align: right;
}
.section-header {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
}
.header-left {
    margin: auto auto auto 0px;
}
.header-right {
    margin: auto 0px auto auto;
}
.contact-list-item {
    display: inline-block;
    padding-right: 10px;
}
.email {
    color: black
}
.full-width {
    width: 100%;
}
.fw-img-div {
    background-image: image("./images/finish-line-break.jpg" );
    margin: auto;
}
.nav-not-link:hover {
    text-decoration: none;
}
.project-holder-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 25px auto auto auto;
    width: 100%;
}
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    padding: 10px;
    border: 3px solid #222;
    box-shadow: 3px 3px 5px #222;
}
.project-button {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 5px 15px;
    border: 2px solid #222;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    transition: .4s ease;
}
.project-button:hover {
    color: #222;
    background-color: #fff;
}
.project-card h3 {
    font-weight: 500;
    margin: 10px auto 15px auto;
}
.project-img-div {
    display: block;
    position: relative;
    border: 1px solid #222;
    line-height: 0px;
}
.project-img-div img {
    width: 100%;
}
.project-desc {
    line-height: 20px;
    margin: auto auto 25px auto;
}
.project-btn-div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (min-width: 1200px) {
    .info-section {
        padding: 20px 0px;
    }
}

@media screen and (max-width: 1000px) {
    p {
        font-size: 14px;
    }
    .header-info-div h1 {
        font-size: 36px;
        margin: 10px auto 10px 0px;
    }
    .head-subtext {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .description {
        line-height: 20px;
    }
    .project-desc {
        line-height: 18px;
    }
    .project-button {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .nav-logo {
        font: 700 20px/20px 'Rubik', sans-serif;
    }
    .header-section {
        flex-direction: column;
    }
    .header-img-div {
        width: 100%;
    }
    .header-info-div {
        width: 100%;
        padding: 10px;
        text-align: left;
    }
    .header-info-div h1 {
        font-size: 28px;
        margin: auto auto auto 0px;
    }
    .section-header {
        font-size: 25px;
        text-align: left;
    }
    .header-right {
        text-align: right!important;
    }
    .info-section {
        padding: 10px;
        text-align: center;
    }
    .black-border-div {
        padding: 15px;
        text-align: left;
    }
    .no-border {
        text-align: right;
    }
    .nav-link {
        font: 300 12px/12px 'Rubik', sans-serif;
        letter-spacing: 1px;
    }
    .footer-container {
        display: block;
        text-align: center;
    }
    .footer-logo, .nav-not-link, .footer-nav-links {
        float: none;
        padding: 0px;
    }
    .project-card {
        width: 100%;
        margin-bottom: 4%;
        text-align: left;
    }
}